.HomeScreen {
  display: flex;
  flex-direction: column;
  background-image: var(--colorBackgroundGradient);
}

.featuredRecipes {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 16px;
}

.welcomeText {
  font-family: var(--headingFont);
  text-shadow: var(--textShadow);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03rem;
  transform: rotate(-0.5deg);
}

.welcomeName {
  font-family: var(--headingFont);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.08rem;
  text-shadow: var(--textShadow);
  padding-left: 2px;
  margin-top: 2px;
}

.search {
  width: 100vw;
  height: 54px;
  box-shadow: 0px 1px 8px rgba(1, 18, 6, 0.03);
  background: radial-gradient(
      100.55% 2146.95% at -0.37% 0.03%,
      rgba(20, 49, 28, 0.25) 0%,
      rgba(1, 18, 6, 0.5) 35.34%,
      rgba(3, 31, 23, 0.5) 70.4%,
      rgba(7, 53, 53, 0.25) 100%
    ),
    #011206;
}
